.trajets_effectues div{
  display: inline-block;
 
}

.rating {
  margin-left: -200px;
  padding-right: 50px;
  padding-top: 50px;
  
}


.annonce {
  display: inline-block;
}

.corps {
  padding-left: 268px;
}

.annonce {
  font-family: Arial,Helvetica,sans-serif;
  width: 750px;
  padding-top: 20px;
  margin-left: 0px;
  border-bottom: solid #BABABA 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 20px;
  
  
}

.annonce:hover {
    background-color: #E0F8F7;
}

.annonce-personne div {
    display: inline-block;
    margin: 0px 8px 12px 0px;
    
}

.annonce-personne p img {
    height: 15px;
    width: 15px;
    
}

.annonce-personne > img {
    height:20px;
    width:20px;
}
.annonce-personne > img:hover {
    height:30px;
    width:30px;
}

.photo-annonce > img {
    height: 75px;
    width: 75px;
    border-radius: 4px;
    
}

.annonce > div {
    display: inline-block;
}

.annonce-trajet h1 {
    font-size: 16px;
    color: blue;
    margin-bottom: 10px;
    
}

.annonce-trajet p {
    font-size: 12px;
    padding-top: 10px;
    margin-left: 4px;
    display: inline-block;
    
    
}

.annonce-trajet img {
    display: inline-block;
    
    
}

div .annonce-trajet {
    border-left: solid #BABABA 1px;
    padding-left: 10px;
    
}

div .annonce-prix {
    margin-left: 20px;
}

div .annonce-prix h1 {
    font-size: 32px;
    color: orange;
}

div .annonce-prix h2 {
    font-size: 16px;
    color: black;
    margin-top: 30px;
}

div .annonce-prix h3 {
    font-size: 12px;
    color: orange;
    margin-top:10px;
}

.annonce-prix > div {
    display: inline-block;
}

/*delete-button*/
.annonce-prix img {
    height: 20px;
    width:20px;
	position: relative;
	bottom: 130px;
    
}

.annonce-prix img:hover {
    height: 22px;
    width:22px;  
}

.annonce-reserver {
    color: white;
    cursor:pointer;
    padding: 0px 10px 0px 10px; 
    height: 35px;
    border: none;
    background-color: #0ba9ef;
    border-radius: 4px;
    font-size: 18px;
    margin: 40px 0px 0px 0px;
}

.annonce-reserver:hover {
    color: white;
    cursor:pointer;
    padding: 0px 10px 0px 10px; 
    height: 35px;
    border: none;
    background-color: #0b81b6;
    border-radius: 4px;
    font-size: 18px;
    margin: 40px 0px 0px 0px;
}

