.header li {
  display: inline-block;
  
  /*border: 1px solid black;*/
  padding: 10px 20px 10px 20px;
  list-style-type: none;
  position: relative;
  width: 140px;
  padding: 10px 10px 10px 10px;
  margin: -1px 50px -1px 0px;
  
  
  
}
/* Bandeau */

.header {
  border: solid #BABABA 1px;
  margin: -50px -10px 0px -10px;
  background-color:  #0ba9ef;
  padding: 0px 170px 0px 170px;
  
}



:link {
  text-decoration: none;
  
}

/*Texte des boutons */

.header li a{
  color: white;
  font-family: Arial,Helvetica,sans-serif;

}

/* Menu déroulant */
li:hover ul.header-menu{
  display: block;
  border-top: none;
  box-shadow: 0px 1px 1px black;
  position: absolute;
  z-index: 2;
  background-color: white;
}

ul  ul {
  display: none; position: absolute; left: 0px; top: 40px; margin:0px; padding: 0px; border: 1px solid grey;
}

li:hover ul.header-menu {
  display: block;
  
}

/* Texte des boutons du menu-déroulant :hover*/
li:hover ul.header-menu a{
  color: #DF7401;
  font-size: 12px;
}

li:hover{
  background-color: white;
  
}

/*Texte des boutons :hover*/
li:hover a {
  color: #DF7401;
  
  
}

.header-menu li:hover a {
  text-decoration: underline;
}

.header li.li-header-menu{
  margin-left: 245px;
}

.entete{
  margin-left: 170px;
  
  
}

/*Titre du header*/
.entete p {
  display: inline-block;
  font-size: 45px;
  position: relative;
  top: -10px;
  left: 10px;
  color: #FF8000;
  
  
}