.profil > div > input{
    margin-left: 750px;
    margin-top: 30px;
    margin-bottom: 0px;
    
}

.profil-identite input{
    margin-bottom: -15px;
    margin-top: -10px;
    padding-left: 5px;
    
}
.profil-vehicule input{
    margin-bottom: -15px;
    margin-top: -10px;
    padding-left: 5px;
    
}

.certified {
    margin-left: 300px;
    width: 25px;
    height: 25px;
    
}

.corps > .profil {
    width: 900px;
    padding: 10px 0px 50px 25px;
    border: 1px solid #BABABA;
    background-color: #E8E9E9;
    border-top: none;
      
}

.corps > .profil > div {
    display: inline-block;
    
}
.profil-vehicule {

    background-color: #F3F3F3;
    border: 1px solid #BABABA;
    margin-top: 10px;
    width: 400px;
    height: 250px;
    padding-left: 10px;
    margin-left: 400px;
}
div .profil-vehicule h1{
    
    color: black;
    font-size: 24px;
    padding: 35px 0px 35px 15px;
    border-bottom: 1px solid #BABABA;
}
.profil-vehicule div div { 
    display: inline-block;
}

.profil-vehicule p{

    font-size: 12px;
    margin-top: -10px;
    
    padding: 5px;
}

.profil-identite {

    background-color: #F3F3F3;
    border: 1px solid #BABABA;
    margin-top: -450px;
    width: 400px;
    height: 210px;
    padding-left: 10px;
    margin-left: 400px;
    
    
}
div .profil-identite h1{
    
    color: black;
    font-size: 24px;
    padding: 35px 0px 35px 20px;
    border-bottom: 1px solid #BABABA;
}

.profil-identite div div {
    display: inline-block;
}

.profil-identite p{

    font-size: 12px;
    margin-top: -10px;
    
    padding: 5px;
}


.avis h1 p {
    margin-left: -110px;
    padding-top: -10px;
    margin-right: 10px;
    margin-top: -5px;
    
}

.profil-1 > img {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    padding-left: 50px;
}
.profil-1 {
    float: left;
    
}

.profil h1 {
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
    padding-top: 25px;
    padding-left: 120px;
    border-bottom: 1px solid #BABABA;
    margin-left: 0px;
    padding-bottom: 10px;
    
}

.avis img {
    height: 20px;
    width: 20px;
    display: inline-block; 
    
}
.avis p{
    display: inline-block;
    margin-left: 130px;
    font-size: 12px;
    margin-top: 2px;
    border: 1px solid #BABABA;
    padding: 7px;
}

.profil .avis {
    background-color: #F3F3F3;
    border: 1px solid #BABABA;
    margin-top: 10px;
    width: 310px;
    height: 450px;
    padding-left: 10px;
    
}

.bouton-rechercher{
    color: white;
    cursor:pointer;
    border: none;
    background-color: #ffbf00;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;

    
}
.bouton-rechercher:hover{
    background-color: #e0a800;
    cursor:pointer;
    border: none;
    color:white;
    
}

.corps > .rechercher-form {
    display: inline-block;
    background-color: #0ba9ef;
    border: 1px solid #BABABA;
    border-radius: 2px;
    width: 960px;
	padding: 10px 10px 10px 10px;
}

.rechercher-form p{
    color: white;
    font-size: 20px;
    margin-left: 10px;
	
}

.rechercher-form select {
    width: 240px;
    height: 35px;
    border-radius: 6px;
    margin-left: 10px;  
    padding-left: 10px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border:none;
    
}
.rechercher-form input {
    width: 150px;
    height: 35px;
    border-radius: 4px;
    margin-left: 30px;
    padding-left: 10px;
    
}

.rechercher-form img{
    margin-right: -15px;
    margin-top: 1px;
    height: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 20px;
}
.rechercher-form input{
    margin-left:10px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    
}
#image-date {
    height: 35px;
    margin-top: 2px;
    
}



.corps {
    width:1000px;
    margin-left: 170px;
    margin-top:-40px;
    background-color: white;
    padding-top: 0px;
    color: black;
    padding-left: 30px;
    padding-bottom: 10px;
    border: #BABABA 1px solid;
    border-top: none;
    
}
#submit {
    color: white;
    cursor:pointer;
    width: 110px;
    height: 35px;
    border: none;
    background-color: #0ba9ef;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 300px;
    margin-top: 20px;
}

#submit:hover {
    color: white;
    cursor:pointer;
    width: 110px;
    height: 35px;
    border: none;
    background-color: #0b81b6;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 300px;
    margin-top: 20px;
    
}
.corps form h1 {
    margin-bottom: 50px;
    color: black;
    font-size: 24px;
    border-top: #BABABA solid 1px;
    padding-top: 5px;
    margin-top: 50px;
    
    
    
}
.corps form h2 {
    border:1px solid #BABABA ;
    border-radius: 2px;
    color: black;
    background-color: #F5F6F6;
    font-size: 18px;
    padding: 8px 0px 8px 10px;
    width: 400px;
    margin-top: 20px;
    
}

.corps form div {
    border:1px solid #BABABA;
    border-radius: 2px;
    padding: 15px 0px 15px 10px; 
    background-color: #E8E9E9;
    border-top: none;
    width: 400px;
    
    
}

#signin {
    float: left;
    display: inline-block;
    margin-left: 350px;
    margin-top: -240px;
    
}
#login {
    margin-left: 170px;
    display: inline-block;
    margin-bottom: 150px;
    margin-top: -280px;
}

.slider-relative {
	position:relative;
	padding-top:40px;
}
.items {
	display: none;	
	overflow: hidden;
}
.slider-block {
	position:relative;
	
	height:503px;
	
}
.slider {
	z-index:2;
	overflow: visible !important;
	height: 250px;
	position: absolute;
	left: 50%;
	margin-left: -512px;
	width: 1032px;
	box-shadow:0 2px 2px #c5c3c3;	
	
}


.slider .banner{
	top:387px;
	text-align: center;
	left: 0;
	right:0;
	padding: 23px  20px 45px;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:48px;
	line-height:1em;
	color: #fcfcfd;	
	width: 100%;
	background: url(../images/banner.png) 0 0 repeat;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider .banner span {
	color: #f98d0d;
}

.slider .banner i {
	font-style: normal;
	color: #c9e54e;
}

.slider .banner p {
	padding-top: 23px;
	font-size: 24px;
	color: #bdbdbd;
}


.pagination {
	bottom: -33px;
	position: absolute;
	right: 50%;
	margin-right:-45px;
	z-index: 999;
}

.pagination li {
	float: left;
	margin-left: 7px;
}

.pagination li:first-child {margin-left:0;}


.pagination  li a{
	width: 10px;
	display: block;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
	height: 10px;
	border:2px solid #000;
	background:#000;
	border-radius:50px;
}

.pagination li a:hover, .pagination li.current a {
	background:none;
}
